@charset "utf-8" ;
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: Light;
}

/*375*/

header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}


header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
}

h1 {
    position: absolute;
    width: 75px;
    top:22px;
    left: 9.6%;
}

h1 img {
    width: 100%;
}

.blind {
    position: absolute;
    left: -9999px;
}

.btn_open {
    position: relative;
    background: url(../img/103.png) no-repeat center/contain;
    text-indent: -9999em;
    width: 50px;
    height: 24px;
    float: right;
    top: 37px;
    right: 7.7%; 
    
}
nav {
    position: fixed;
    right: -100%;
    top : 0;
    width: 100%;
    height: 100%;
 
}
.nav_inner{
    width: 70.4%;
    height: 100%;
    background: rgba(255,255,255,0.7);
    position: absolute;
    right : 0 ;
    border: 1px solid #707070;
    border-right: 0;
    border-radius: 10px 0 0 10px;
}
.nav_inner ul {
    flex-direction: column; 
    align-items: flex-end; 
    height: 100%;
    padding: 0; 
    margin: 0;
    margin-top: 100px;
    border-top: 3px solid #000;
    background: url(../img/logo.png) no-repeat ;
    background-position: 50% 380px;
    background-size: 106px 111px;
}

.nav_inner li {
    height: 80px;
    line-height: 80px;
    text-align: center;
    align-items: center; 
    justify-content: center; 
    font-size: 25px;
    border-bottom: 3px solid #000 ;
}

.btn_close {
    position: absolute;
    background: url(../img/close.png) no-repeat center/contain;
    text-indent: -9999em;
    width: 50px;
    height: 24px;
    float: right;
    top: 37px;
    right : 10.5%;
}
.visual .text{
 position: absolute;
 text-align: right;
 top: 315px;
 right :8%;
}

.visual h2 {
    font-size: 33px;
    font-weight: Bold;
}
.visual p {
    position: absolute;
    font-size: 15px;
    margin-top: 5px;
    right: -9.48%;
    text-align: left
}

.img_wrap1{
    height: 450px;
    background: url(../img/bg2.jpg) no-repeat 55%/cover;
    position: relative;
}

.Produce_img{
    width: 100%;
    height: 260px;
    background: url(../img/k2-1.png)no-repeat center/contain;
    position: relative;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
}

.Produce_p {
    text-align: center;
}

.Produce_p h2 {
    font-size: 32px;
    margin-top: 20px;
    font-style: bold;
    font-weight: 35px;
}

.Produce_p h3 {
    position: relative;
    font-size: 32px;
    margin-top: 20px;
    width: 62.9%;
    margin-left: 19%;
    line-height: 37px;
}

.Produce_p P {
    margin-top: 20px;
    width: 72.5%;
    margin-left: 15%;
    margin-bottom: 212px;
    line-height: 22px;
}

.SD{
    background-color: #D6D6D6;
    height: 380px;
}

.SD_img{
    width: 100%;
    height: 260px;
    background: url(../img/K2-5.png)no-repeat center/contain;
    position: relative;
    margin: 0 auto;
    display: block;
    top: -152px;
}

.SD_p {
    position: relative;
    text-align: center;
    top: -92px;
    padding-bottom: 60px;

}

.SD_p h2 {
    font-size: 32px;
    width: 47.8%;
    margin-left: 24.9%;
    line-height: 34px;
}

.SD_p h3 {
    position: relative;
    font-size: 32px;
    margin-top: 19px;
    width: 70.9%;
    margin-left: 13%;
    font-weight: 32px;

}

.SD_p P {
    width: 83.6%;
    margin-left: 7%;
    margin-top: 19px;
    line-height: 22px;
}

.Export_img{
    width: 100%;
    height: 300px;
    background: url(../img/3.jpg)no-repeat center/contain;
    position: relative;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
}

.Export_p {
    position: relative;
    text-align: center;
    padding-bottom: 60px;
    margin-top: 60px;
}


.Export_p h2 {
    font-size: 32px;
    width: 47.8%;
    margin-left: 24.9%;
    font-weight: 35px;
}

.Export_p h3 {
    position: relative;
    font-size: 32px;
    margin-top: 19px;
    width: 71.9%;
    margin-left: 13%;
    font-weight: 32px;
}


.Export_p P {
    width: 83.6%;
    margin-left: 7%;
    margin-top: 25px;
    line-height: 22px;
}

.Order_img{
    width: 100%;
    height: 260px;
    background: url(../img/k2-4.jpg)no-repeat center/contain;
    position: relative;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
}

.Order_p{
    position: relative;
    text-align: center;
    padding-bottom: 60px;
    margin-top: 60px;
}

.Order_p h2 {
    font-size: 32px;
    width: 47.8%;
    margin-left: 24.9%;
    font-weight: 35px;
}

.Order_p h3 {
    position: relative;
    font-size: 32px;
    margin-top: 19px;
    width: 71.9%;
    margin-left: 13%;
    font-weight: 32px;
}


.Order_p P {
    width: 83.6%;
    margin-left: 7%;
    margin-top: 25px;
    line-height: 22px;
}

.line {
    justify-content: center; 
    width: 80%;
    margin: 0 auto;
    
}



.footer_logo{
    background: url(../img/logo.png) no-repeat center/contain;  
    width: 120px;
    height: 120px;
    margin: 0 auto; 
    text-indent:-9999px;
    margin-bottom: 115px;
    margin-top: 93px
}


.footer_link { 
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer_link a {
    display: block;
    margin: 30px; 
}
.footer_p {
    padding-top: 120px;
}

.footer_p span {
    display: block;  
    text-align: center; 
    margin-top: 5px;
    font-size: 15px;
  }

.COPYRIGHT{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    left: 12.8%;
    font-size: 12px;
}

@keyframes top {
    from {transform:translateY(100px); opacity:0;}
    to {transform:translateY(0); opacity:1;}
}

.img_wrap1,
.text h2,
.text p {
    opacity: 0;
}

.img_wrap1 {
    opacity: 1;
    animation: top 1s;
}

.text h2 {
    opacity: 1;
    animation: top 5s backwards;
}

.text p {
    opacity: 1;
    animation: top 5s .7s backwards;
}

.Produce_img {
    opacity: 1;
    animation: top 1s;
}

.Produce_p  {
    opacity: 1;
    animation: top 5s backwards;
}

.SD div {
    opacity: 0;
}
.SD div.on {
    opacity: 1;
    animation: top 1s;
}
.SD_p.on {
    opacity: 1;
    animation: top 5s backwards;
}

.Export_p h2,
.Export_p h3,
.Export_p p {
    opacity: 0;
}
.Export_p h2.on{
    opacity: 1;
    animation: top 1s;
}

.Export_p h3.on{
    opacity: 1;
    animation: top 5s backwards;
}

.Export_p p.on{
    opacity: 1;
    animation: top 5s backwards;
}

.Order div{
    opacity: 0;
}

.Order div.on{
    opacity: 1;
    animation: top 1s;
}

/* 768 */ 

@media screen and (min-width:768px) {
   
    h1 {
        position: absolute;
        width: 108px;
        top:33px;
        left: 9.6%;
    }
    .btn_open {
        position: relative;
        background: url(../img/menu2.png) no-repeat center/contain;
        text-indent: -9999em;
        width: 50px;
        height: 34px;
        float: right;
        top: 73px;
        right: 9.6%; 
        
    }
    .btn_close {
        position: relative;
        background: url(../img/close.png) no-repeat center/contain;
        text-indent: -9999em;
        width: 50px;
        height: 40px;
        float: right;
        top: 73px;
        right: 13.5%; 
    }
    .nav_inner{
        width: 70.4%;
        height: 100%;
        background: rgba(255,255,255,0.7);
        position: absolute;
        right : 0 ;
        border: 1px solid #707070;
        border-right: 0;
        border-radius: 10px 0 0 10px;
    }
    .nav_inner ul {
        flex-direction: column; 
        align-items: flex-end; 
        height: 100%;
        padding: 0; 
        margin: 0;
        margin-top: 130px;
        border-top: 3px solid #000;
        background: url(../img/logo.png) no-repeat ;
        background-position: 50% 650px;
        background-size: 106px 111px;
    }
    
    .nav_inner li {
        height: 140px;
        line-height: 130px;
        text-align: center;
        align-items: center; 
        justify-content: center; 
        font-size: 25px;
        border-bottom: 3px solid #000 ;
    }
   .visual .text {
    top: 478px;
    right : 10.41%
   }
   .visual h2 {
    font-size: 56px;
   }
   .visual p {
    font-size: 28px;
    right: -18.48%;
   }
   .img_wrap1 {
    height: 749px;
    background: url(../img/bg2.jpg) no-repeat 60%/cover;
   }
   .Produce_img{
    width: 100%;
    height: 510px;
    background: url(../img/k2-1.png)no-repeat center/contain;
    position: relative;
    margin: 0 auto;
    display: block;
    margin-top: 100px;
}
.Produce_p h2 {
    font-size: 70px;
    margin-top: 250px;
    font-style: bold;
    font-weight: 35px;
}
.Produce_p h3 {
    position: relative;
    font-size: 50px;
    margin-top: 35px;
    width: 62.9%;
    margin-left: 19%;
    line-height: 55px;
}
.Produce_p P {
    margin-top: 35px;
    width: 72.5%;
    margin-left: 15%;
    margin-bottom: 335px;
    line-height: 44px;
    font-size: 30px;
}

.SD{
    height: 890px;
 
}
.SD_img{
    width: 100%;
    height: 510px;
    background: url(../img/K2-5.png)no-repeat center/contain;
    position: relative;
    margin: 0 auto;
    display: block;
    top: -152px;
}
.SD_p h2 {
    font-size: 70px;
    margin-top: 250px;
    font-style: bold;
    font-weight: 35px;
    line-height: 60px;
}
.SD_p h3 {
    position: relative;
    font-size: 50px;
    margin-top: 35px;
    width: 62.9%;
    margin-left: 19%;
    line-height: 55px;
}
.SD_p P {
    margin-top: 35px;
    width: 72.5%;
    margin-left: 15%;
    line-height: 44px;
    font-size: 30px;
}
.Export {
    margin-top: 500px;
}
.Export_img{
    width: 100%;
    height: 548px;
    background: url(../img/3.jpg)no-repeat center/contain;
    position: relative;
    margin: 0 auto;
    display: block;
}

.Export_p {
    padding-bottom: 310px;
    margin-top: 310px;
}

.Export_p h2 {
    font-size: 70px;
    margin-top: 250px;
    font-style: bold;
    font-weight: 35px;
    line-height: 60px;
}
.Export_p h3 {
    position: relative;
    font-size: 50px;
    margin-top: 35px;
    line-height: 55px;
}
.Export_p P {
    width: 83.6%;
    margin-left: 7%;
    margin-top: 25px;
    line-height: 44px;
    font-size: 30px;
}
.Order_img{
    height: 510px;
}
.Order_p{
    padding-bottom: 310px;
    margin-top: 310px;
}

.Order_p h2 {
    font-size: 70px;
}
.Order_p h3{
    font-size: 50px;
    margin-top: 35px;
    width: 71.9%;
    margin-left: 13%;
}
.Order_p P {
    width: 83.6%;
    margin-left: 7%;
    margin-top: 35px;
    line-height: 44px;
    font-size: 30px;
}

.line {
    justify-content: center; 
    width: 80%;
    margin: 0 auto;
   
}

.footer_logo{
    background: url(../img/logo.png) no-repeat center/contain;  
    width: 120px;
    height: 120px;
    margin: 0 auto; 
    text-indent:-9999px;
    margin-top: 50px
}

.footer_link { 
    display: flex;
    justify-content: center;
}
.footer_link a {
    display: block;
    margin: 50px; 
}

.footer_p span {
    display: block; 
    text-align: center; 
    margin-top: 5px;
    font-size: 22px;
  }

.COPYRIGHT{
    text-align: center;
    padding-top: 55px;
    padding-bottom: 88px;
    left: 12.8%;
    font-size: 22px;
}

}

/*1024*/
@media screen and (min-width:1024px) {
    
    header{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 100;
    }
    h1 {
        position: absolute;
        width: 108px;
        top: 50px;
        left: 4.88% ;
    }
    
    h1 img {
        width: 100%;
    }

    .visual .text{
     position: absolute;
     top: 573px;
     right: 11.03% ;
    }
    
    .img_wrap1{
        height: 900px;
        background: url(../img/bg2.jpg) no-repeat 45%/cover;
        position: relative;
    }
    .btn_open { 
        display: none;
    }
    .btn_close{
        display: none;
    }
    nav {
        position: absolute;
        display: flex;
        background: none;
        right: 0;
   
    }
    .nav_inner {
        background: none;
        border: none;
        left: 14.64%;
    }

    .nav_inner li{
        border: none;
        float: left;
        padding-left: 75px;
        font-size: 24px;
        
        
    }

    .nav_inner ul{
        display: flex;
        flex-direction: row;
        height: 100%;
        padding: 0;
        align-items :flex-start;
        background: none;
        border-top: none ;
        margin-top: 75px;
    }
    .Product_img{
        margin-top: 140px;
        height: 660px;
    }
    .Produce_p h3{
        width: 43.9%;
        margin-left: 28%;
        line-height: 59px;
    }
    .Produce_p p{
        font-size: 28px;
    }
    .SD{
        height: 1080px;
    }
    .SD_img{
        height: 550px;
        background: url(../img/k2-5.png)no-repeat center/contain;
        position: relative;

    }
    .SD_p h2 {
        margin-top: 220px;
    }
    .SD_p h3 {
        width: 43.9%;
        margin-left: 28%;
        line-height: 59px;
    }
    .SD_p P {
        font-size: 28px;
    }
    .Export_img{
        width: 100%;
        height: 700px;
        background: url(../img/3.jpg)no-repeat center/contain;
    }
    .Export_p {
        padding-bottom: 220px;
        margin-top: 220px;
    }
    .Export_p h3 {
        width: 52.9%;
        margin-left: 23%;
        line-height: 59px;
    }
    .Order_img{
        height: 550px;
    }
    .line {
        padding-top: 200px;
        justify-content: center; 
        width: 80%;
        margin: 0 auto;
        position: relative;
        top: -300px;
    }
    
    .footer_logo{
        background: url(../img/logo.png) no-repeat center/contain;  
        width: 120px;
        height: 120px;
        margin: 0 auto; 
        text-indent:-9999px;
        position: relative;
        top: -200px;
    }
    
    .footer_link { 
        float: right;
        position: relative;
        bottom: 75px;
        justify-content: flex-end;
        right: 8%;
    }
    .footer_link a {
        display: block;
        margin: 28px; 
        
    }
    
    .footer_p span {
        display: block; 
        text-align: left; 
        margin-left: 62px;
        margin-top: 5px;
        font-size: 22px;
        position: relative;
        top: -200px;
        left: 3.5%;
      }
    
    .COPYRIGHT{
        text-align: left; 
        margin-left: 62px;
        padding-top: 55px;
        left: 12.8%;
        font-size: 22px;
        position: relative;
        top: -200px;
        left: 3%;
        padding-bottom: 0px;
    }
}
/*1920*/
@media screen and (min-width:1750px){
    .head{
        width: 1692px;
        margin: 0 auto;
        position: relative;
    }
    header{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 100;
    }
    
    h1 {
        position: absolute;
        width: 108px;
        top: 50px;
        left: 0% ;
    }
    
    h1 img {
        width: 100%;
    }
    nav {
        position: absolute;
    }
    .nav_inner {
        background: none;
        border: none;
    }
    .nav_inner li{
        border: none;
        float: left;
        padding-left: 75px;
        font-size: 24px;   
    }

    .nav_inner ul{
        display: block;
        height: 100%;
        padding: 0;
        background: none;
        border-top: none ;
        margin-top: 75px;
        position: relative;
        right: 132px;
    }

    .bland p{
      
        text-align: center;
        font-size: 28px;
        line-height: 42px;
        padding-top: 82.2px;
        width: 25.00%;
        margin: 0 auto;
    
    }    
    .visual .text {
        position: absolute;
        top: 635px;
        left: 28%;
        width: 1692px;
        transform: translateX(-50%);
        padding-left: 143px;
       }

    .Produce_img{
        float: left;
        width: 60%;
        height: 651px;
        margin-top: 0;
    }
    .Produce_p{
        text-align: left;
        position: relative;
        top: 100px;
    }

    .Produce_p h3 {
        width: 60.9%;
        margin-left: 28%;
        line-height: 59px;
      
    }
 
    .SD_img{           
        float: right;
        width: 60%;
        height: 651px;
        margin-top: 250px;
        background: url(../img/K2-5.png)no-repeat center/contain;

    }
    .SD_p{
        text-align: right;
        position: relative;
        top: 200px;
    }
    .SD_p h2{
        margin-left: 0;
        width: 36%;
        position: relative;
        left: 75px;
    }
    .SD h3{
        width: 60.9%;
        margin-left: 14%;
        line-height: 59px;
    }
    .Export {
        margin-top: 50px;
    }
    .Export_img {
        position: relative;
        float: left;
        width: 984px;
    }
    .Export_p {
        float: left;
        padding-bottom: 0px;
        margin-top: 0px;
        width: 33%;
        top: 150px;
        text-align: left;
    }
    .Export_p h2{
        margin-top: 0;
        margin-left: 140px;
    }
    .Export_p h3 {
        margin-left: 140px;
    }
    .Export_p P {
        margin-left: 140px;
    }
    .Order{
        margin-top: 200px;
        margin-bottom: 250px;
    }
    .Order_img{
        float: right;
        width: 60%;
        height: 651px;
        margin-top: 0px;
    }
    .Order_p{
        text-align: right;
        position: relative;
        top: 200px;
    }
    .Order_p h2{
        margin-left: 0;
        width: 36%;
        position: relative;
        left: 75px;
    }
    .Order_p h3{
        width: 60.9%;
        margin-left: 14%;
        line-height: 59px;
    }
    

    .footer_logo{
        background: url(../img/logo.png) no-repeat center/contain;  
        width: 120px;
        height: 120px;
        margin: 0 auto; 
        text-indent:-9999px;
        position: relative;
        top: 72px;
        margin-left: 120px;
        float: none;
    }
    
    footer{
        width: 1700px;
        margin: 0 auto;
    }

    .footer_link { 
        float: right;
        position: relative;
        bottom: 75px;
        margin-right: 50px;
    }
    .footer_link a {
        display: block;
        margin: 28px;  
    }
    
    .footer_p span {
        position: relative;
        display: block; 
        text-align: left; 
        margin-top: 5px;
        font-size: 22px;
        margin-left: 350px;
        left: 5%;
      }
    
    .COPYRIGHT{
        text-align: left; 
        padding-top: 55px;
        margin-left: 350px;
        font-size: 22px;
        position: relative;
        top: -200px;
        padding-bottom: 0px;
        left: 5.5%;
    }
}